<fieldset class="bio">
    <legend class="legendBio"><h2>BIO</h2></legend>
    <table style="border: 2px;">
        <tr>
            <td><b>Employee Id :</b>    {{employee.employeeId}}</td>
            <td> </td>
            <td> </td>
            <td><b>First Name  : </b>{{employee.firstName}}</td>
            <td> </td>
            <td> </td>
            <td><b>Last Name   :</b>  {{employee.lastName}}</td>
            <td> </td>
            <td> </td>
            <td><b>Gender  :</b> {{employee.gender}}</td>
        </tr>
       
        <tr>
            
            <td><b>Date Of Birth   :</b>   {{employee.dateOfBirth | date: 'MM/dd/YYYY'}}</td>
            <td> </td>
            <td> </td>
            <td><b>Mobile  :</b>   {{employee.mobile}}</td>
            <td> </td>
            <td> </td>
            <td><b>Email   :</b>  {{employee.email}}</td>
        </tr>
        
    </table>
</fieldset>
<br>
<fieldset class="bio">
    <legend class="legendBio"><h2>ADDRESS</h2></legend>
    <table style="border: 2px;">
        <tr>
            <td><b>Door Number :</b>    {{employee.address.doorNumber}}</td>
            <td> </td>
            <td> </td>
            <td><b>Street  : </b>{{employee.address.street}}</td>
            <td> </td>
            <td> </td>
            <td><b>City   :</b>  {{employee.address.city}}</td>
        </tr>
       
        <tr>
            
            <td><b>State   :</b>   {{employee.address.state}}</td>
            <td> </td>
            <td> </td>
            <td><b>Pincode  :</b>   {{employee.address.pincode}}</td>

        </tr>
        
    </table>
</fieldset>

<br>

<fieldset class="bio">
    <legend class="legendBio"><h2>EMPLOYMENT DETAIILS</h2></legend>
    <table style="border: 2px;">
        <tr>
            <td><b>Designation :</b>    {{employee.designation}}</td>
            <td> </td>
            <td> </td>
            <td><b>Role  : </b>{{employee.role}}</td>
            <td> </td>
            <td> </td>
            <td><b>Department  :</b>  {{employee.department}}</td>
            <td> </td>
            <td> </td>
            <td><b>Experience   :</b>   {{employee.experience}}</td>
        </tr>
       
        <tr>
            
            <td><b>promotion Band  :</b>   {{employee.promotionBand}}</td>
            <td> </td>
            <td> </td>
            <td><b>Salary Per Anum  :</b>   {{employee.salary}}</td>
            <td> </td>
            <td> </td>
            <td><b>Date Of Joining  :</b>   {{employee.dateOfJoining | date: 'MM/dd/YYYY'}}</td>
            <td> </td>
            <td> </td>
            <td><b>Branch Location  :</b>   {{employee.branchLocation}}</td>
        
        </tr>
        <tr>
            
            <td><b>Reporting Officer Name   :</b>   {{employee.reportingOfficerName}}</td>
            <td> </td>
            <td> </td>
            <td><b>Reporting Officer ID   :</b>   {{employee.reportingOfficerId}}</td>
        
        </tr>
        
    </table>
</fieldset>
<br>
<fieldset class="bio">
    <legend class="legendBio"><h2>PROJECT DETALS</h2></legend>
    <table style="border: 2px;">
        <tr>
            <td><b>Project Name:</b>    {{employee.projectName}}</td>
            <td> </td>
            <td> </td>
            <td><b>Working Mode: </b>{{employee.workingMode}}</td>
        </tr>
       
        <tr>
            
            <td><b>Assignment Start Date:</b>   {{employee.assignmentStartDate | date: 'MM/dd/YYYY'}}</td>
            <td> </td>
            <td> </td>
            <td><b>Assignment End Date:</b>   {{employee.assignmentStartDate | date: 'MM/dd/YYYY'}}</td>

        </tr>
        
    </table>
</fieldset>
<br>

<p style="margin: auto;">`</p>
