<!-- <form [formGroup]="book">
    <mat-form-field appearance="fill">
        <mat-label>Enter Id:</mat-label>
        <input type="number" matInput formControlName="id">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter Title:</mat-label>
        <input type="text" matInput formControlName="title">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter SubTitle:</mat-label>
        <input type="text" matInput formControlName="subTitle">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter author:</mat-label>
        <input type="text" matInput formControlName="subTitle">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter OriginalPrice</mat-label>
        <input type="number" matInput formControlName="OriginalPrice">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter SellingPrice</mat-label>
        <input type="number" matInput formControlName="SellingPrice">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Category:</mat-label>
        <mat-select>
          <mat-option value="one">FICTION</mat-option>
          <mat-option value="two">NONFICTION</mat-option>
          <mat-option value="three">NOVEL</mat-option>
          <mat-option value="four">ROMANCE</mat-option>
          <mat-option value="five">MYSTERY</mat-option>
          <mat-option value="six">THRILLER</mat-option>
          <mat-option value="seven">Love</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Type:</mat-label>
        <mat-select>
          <mat-option value="one">AUTOBIOGRAPHY</mat-option>
          <mat-option value="two">BIOGRAPHY</mat-option>
          <mat-option value="three">ESSAYS</mat-option>
          <mat-option value="four">SELFHELP</mat-option>
          <mat-option value="five">CHILDRENSBOOKS</mat-option>
          <mat-option value="six">WAR</mat-option>
          <mat-option value="seven">TEXTBOOKS</mat-option>
          <mat-option value="eight">POLITICALBOOK</mat-option>
          <mat-option value="nine">ACADAMICBOOKS</mat-option>
          <mat-option value="ten">POETRYBOOKS</mat-option>
          <mat-option value="eleven">COOKBOOKS</mat-option>
          <mat-option value="twelve">HISTORYBOOKS</mat-option>
          <mat-option value="thirteen">ARTBOOKS</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter Rating:</mat-label>
        <input type="number" matInput formControlName="rating">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter Discount:</mat-label>
        <input type="number" matInput formControlName="discount">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter PaparQuality:</mat-label>
        <input type="number" matInput formControlName="paperQuality">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter BookSize:</mat-label>
        <input type="number" matInput formControlName="bookSize">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter Language:</mat-label>
        <input type="text" matInput formControlName="language">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter Editor:</mat-label>
        <input type="text" matInput formControlName="editor">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter Publisher:</mat-label>
        <input type="text" matInput formControlName="publisher">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter Edition</mat-label>
        <input type="number" matInput formControlName="edition">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Publish date:</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Manufacture date:</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter pages:</mat-label>
        <input type="number" matInput formControlName="pages">
    </mat-form-field>
    </form>-->

    <!-- <ul [ngStyle]="{'list-style-type':'none'}" >
        <li  *ngFor = "let employee of employeeResponse" >
            {{employee.employeeId}}<br>
            
        </li>
    </ul> -->
    
   <table>
    <tr>
        <td>Employee Id:</td>
        <td>{{employee.employeeId}}</td>
    </tr>
   </table>