table{
  width: 80%;
  margin-left: 10px;
  border: 0.5px solid;
  max-height: 400px;
}
.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color:#3C1955;
  background-color: #E9D7EC;
}

.demo-row-is-clicked {
  font-weight: bold;
  background-color: #662CA2;
}
  
.tableView{
  overflow-y:scroll;
  overflow-x: scroll;
  max-height: 63%;
}
table{
  height: 30%;
}

.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

mat-toolbar {
  justify-content: space-between;
  
}

mat-card:hover{
  background-color: gray;
}
mat-card{
  background-color: #E0B0FF;
  padding: 20px;
}
.content{
  overflow-y: scroll;
  max-height: 60%;
}

.mat-icon{
  color:  #3C1955;
}

.mat-header-cell{
  align-content: center;
}


.mat-header-cell{
   background-color: #662CA2;
}

.mat-mdc-paginator{
  background-color: #3C1955;
  color: white;
  font-size: 15px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

mat-mdc-paginator-page-size ng-star-inserted{
  color: white;

}

