
  <mat-toolbar color="primary">
    <button (click)="onClick()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>logout</mat-icon>
    </button>
    <span class="example-spacer"></span>
    
    <span class="example-spacer"></span>
    <span>Employee Details</span>
    <span class="example-spacer"></span>
   
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>person</mat-icon>
      </button>

  </mat-toolbar>

